##################
#	STANDARD
##################
*/.DS_Store
*/*.swp
*/*.swo
*.swp
*.swo
*.gch

##################
#	PROG SPEC
##################
.idea
*/.idea

##################
#	PROJECT SPEC
##################
bin/*
tests/*
test*
*/test*
*_test.c
libftTester
*.o
*.a